<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="freeglut" version="2.8.1.15" targetFramework="native" />
  <package id="freeglut.3.0.0.v140" version="1.0.2" targetFramework="native" />
  <package id="freeglut.redist" version="2.8.1.15" targetFramework="native" />
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
  <package id="openmesh" version="7.1.1" targetFramework="native" />
  <package id="openmesh.redist" version="7.1.1" targetFramework="native" />
  <package id="openmesh.symbols" version="7.1.1" targetFramework="native" />
</packages>